<h2>以下の内容で投稿する</h2>

<%= form_with(model: @happy_talk, url: happy_talks_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>happy talk:<%= @happy_talk.content %></p>
  <%= image_tag(@happy_talk.image.url) if @happy_talk.image.url.present? %>
  <%= form.hidden_field :image_cache %><br>
  <%=form.submit "Share", class: "btn btn-default"%>
<% end %>

<%= form_with(model: @happy_talk, url: new_happy_talk_path, local: true, method: "get") do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache if @happy_talk.image.url %>
  <%= form.submit "Back", name: "back", class: "btn btn-default" %>
<% end %>
