  <header>
    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar header">
          <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#gnavi">
            <span class = "sr-only">HappyTalk</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand" href = "#">Happy Talk</a>
        </div>
          <div id = "gnavi" class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
              <li><%= link_to "Happy Talk",new_happy_talk_path %></li>
              <li><%= link_to "Login" %></li>
              <li><%= link_to "Mail" %></li>
            </ul>
          </div>
        </div>
    </nav>
  </header>
  <section class="main-header">
    <%= image_tag 'happytalk.png', :size =>'967x625' %>
  </section>
  <section class="about">
    <h1>About Happy Talk</h1>
    <p>
      夢を言葉に。幸せを形に。<br>
    </p>
    <p>
      夢の大きさに比例して、あなたの人生は大きく成長します。<br>
      実現したhappyも、まだ実現していないhappyも、あなたのhappyをシェアしよう。
    </p>
  </section>
  <section class="function">
    <h1>Function</h1>
    <div class="function-images">
      <div class="function-image">
        <a href = "#"><%= image_tag 'key.png'%></a>
        <p>ログイン</p>
      </div>
      <div class="function-image">
        <a href="#"><%= image_tag 'mails.png'%></a>
        <p>メール</p>

      </div>
      <div class="function-image">
        <a href="#"><%= image_tag 'girls.png'%></a>
        <p>Sing up</p>
      </div>
      <div class="function-image">
        <a href="/happy_talks"><%= image_tag 'comment.png'%></a>
        <p>投稿する</p>
      </div>
    </div>
  </section>
  <footer>
    <p>Happy Talk since 1985</p>
  </footer>
</body>
</html>
